WebPage/Connected Services/WebServicePersona/AplicacionWebServicePOO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AplicacionWebServicePOO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AplicacionWebServicePOO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedula" type="xs:int" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
</xs:schema>